<div class="m-20">
    <table mat-table [dataSource]="dataSource">

       <ng-container matColumnDef="sr">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element?.srno}} </td>
        </ng-container>
    
       <ng-container matColumnDef="fname">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.fname}} </td>
        </ng-container>
        <ng-container matColumnDef="lname">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.lname}} </td>
          </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
        </ng-container>
    
       <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone No </th>
          <td mat-cell *matCellDef="let element"> {{element?.phoneNo}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element?.address}} </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element?.position}} </td>
          </ng-container>

          <ng-container matColumnDef="doj">
            <th mat-header-cell *matHeaderCellDef> Date of joining </th>
            <td mat-cell *matCellDef="let element"> {{element?.doj}} </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
